@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import 'bootstrap/scss/functions'; // 必要的方法
@import './mixins';
@import './variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/bootstrap';

html {
  font-size: 100%; //1rem = 16px

  @include respond(lg) {
    font-size: 87.5%; //1rem = 14px, 56.25%
  }

  @include respond(md) {
    font-size: 75%; //1rem = 12px, 50%
  }
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.section {
  max-width: 95rem;
  // margin: 6rem 2rem;
  margin: 6rem auto;
  padding: 0 2rem;

  @include respond(sm) {
    padding: 0 1rem;
  }
}

.section-title {
  margin-bottom: 2rem;
}

.w-80 {
  width: 80% !important;
}

.h-25 {
  height: 25% !important;
}

.h-33 {
  height: 33% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-80 {
  height: 80% !important;
}

.btn-primary {
  color: white;
}

.btn-outline-primary:hover {
  background-color: $primary;
  border-color: $primary;
  color: white;
}