$primary: #d89e21 !default;
$primary-light: #faf1dd !default;
$primary-mid: #fde4b4 !default;
$primary-dark: #a46a13 !default;
$brand-blue: #144bb8 !default;
$brand-red: #f2725a !default;
$grey1D: #1d1d1d !default;
$grey33: #333333 !default;
$grey66: #666666 !default;
$grey9F: #9f9f9f !default;
$greyD4: #d4d4d4 !default;
$greyE9: #e9e9e9 !default;
$greyF7: #f7f7f7 !default;
